<template name="browser">
  <h3>Last 10 Emblems added</h3>
  <table class="table">
    {{#each emblems}}
      <tr>
        <td style="width: 73%;">
          <a href="{{pathFor 'emblem'}}">{{name}}</a>
        </td>
        <td style="width: 6%; text-align: right;">
          {{#if isPremium}}
          <abbr title="premium required">P</abbr>
          {{/if}}
          {{#if isUnlockable}}
          <abbr title="additional unlocks required">U</abbr>
          {{/if}}
        </td>
        <td>
          <button type="button" class="btn btn-default btn-sm show-emblem">show!</button>
          {{#if currentUser.admin}}
          <button type="button" class="btn btn-warning btn-sm delete-emblem">delete!</button>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </table>
</template>