<template name="browser">
  <h3>Last 10 Emblems added</h3>
  <table class="table">
    {{#each emblems}}
      <tr>
        <td style="width: 79%;">
          <a href="{{pathFor 'emblem'}}">{{name}}</a>
        </td>
        <td>
          <button type="button" class="btn btn-default show-emblem">show!</button>
          {{#if currentUser.admin}}
          <button type="button" class="btn btn-warning delete-emblem">delete!</button>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </table>
</template>