<template name="emblem">
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Layers</th>
            <th>Requires Premium</th>
            <th>Requires Unlocks</th>
          </tr>
        </thead>
        <tr>
          <td>{{emblem.name}}</td>
          <td>{{emblem.layers}}</td>
          <td>{{emblem.isPremium}}</td>
          <td>{{emblem.isUnlockable}}</td>
        </tr>
      </table>
      {{#if currentUser.admin}}
      <button type="button" class="btn btn-warning delete-emblem right">delete!</button>
      {{/if}}
      <a href="{{pathFor 'upload'}}">Add a new here!</a>
    </div>
    <div class="col-md-4">
      <div id="emblem-preview-area" style="display: none;">
        {{>emblem_preview}}
      </div>
    </div>
  </div>
</template>