<template name="upload">
  <div class="upload" style="border: 1px red;">
    <h1>Upload</h1>
    <form id="upload-form">
      <input id="name" type="text" placeholder="emblems title" required /><br />
      <input id="creator" type="text" placeholder="creator's name" required /><br />
      <input id="foundAt" type="url" placeholder="found at: http://..." required /><br />
      <label>Premium?</label><input id="premium" type="checkbox" /><br />
      <textarea id="upload-text" placeholder="emblem data" required></textarea><br />
      <button id="upload-it">Upload it!</button>
    </form>
  </div>
</template>