<template name="upload">
  <div class="upload" style="border: 1px red;">
    <h3>Upload</h3>
    <form id="upload-form" role="form">
      <input id="name" type="text" class="form-control" placeholder="emblems title" required />
      <input id="creator" type="text" class="form-control" placeholder="creator's name" required />
      <input id="foundAt" type="url" class="form-control" placeholder="found at: http://..." required />
      <textarea id="upload-text" class="form-control" rows="3" placeholder="emblem data" required></textarea>
      <button id="upload-it" class="btn btn-default" type="submit">Add it!</button>
      <button id="clear" class="btn btn-default" type="reset">Clear form!</button>
    </form>
  </div>
</template>