body
  background-color #eee

#account-buttons
  margin 15px

  #login-dropdown-list
    position absolute
    top 4px
    right 12px
    left auto
    
    a.login-close-text
      float right

#lb_id_containing_box a.observatory_trigger
  width 32px

.link
  pointer cursor

.scale50
  zoom 0.5

.scale75
  zoom 0.75

.scale100
  zoom 1

#emblem-code
  width 320px

#logs
  display none

div.nav
  display inline
  margin 12px 5px 0 0